* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  background-color: var(--gray-50, #8692a6);
}

button {
  display: flex;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
}
