.nav {
  background-color: #fff;
  box-shadow: 0px 4px 26px 0px #c8c8c88c;
  margin-bottom: 64px;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 105px;
  height: 109px;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 24px;
}

.nav__item {
  padding: 12px;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 8px;
  text-decoration: none;
  font-weight: 600;
  color: var(--gray-300, #c3c5c8);
}

.nav__link:hover .nav__link__text {
  color: var(--primary-900, #1dbf73);
}

.nav__link:hover svg path {
  fill: var(--primary-900, #1dbf73);
}

.nav__user__list {
  display: flex;
  list-style: none;
  gap: 16px;
}

.nav__user__item {
  display: grid;
  place-items: center;
}

.nav__user__btn {
  position: relative;
}

.nav__user__btn span {
  position: absolute;
  top: -5px;
  left: 50%;
  background-color: var(--primary-900, #1dbf73);
  border-radius: 50%;
  width: 19.2px;
  height: 19.2px;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 10px;
  font-weight: 500px;
}

.nav__user__img {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--primary-900, #1dbf73);
}

.nav__user__item:last-of-type {
  position: relative;
}

.nav__dropdown__list {
  list-style: none;
  position: absolute;
  width: 320px;
  top: 51px;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 5px 15px 0px #00000033;
  border-radius: 8px;
}

.nav__dropdown__list hr {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid var(--gray-50, #f6f6f6);
}

.nav__dropdown__user__info {
  padding: 17px 15px 9px;
}

.nav__dropdown__link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--gray-500, #696f79);
  font-weight: 500;
  font-size: 14px;
  cursor: default;
}

.nav__dropdown__link[href] {
  cursor: pointer;
}

.nav__dropdown__link[href]:hover {
  color: var(--primary-900, #1dbf73);
}

.nav__dropdown__link[href]:hover svg path {
  fill: var(--primary-900, #1dbf73);
}

.nav__dropdown__user__info .nav__dropdown__link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav__dropdown__link .nav__dropdown__name {
  font-weight: 700;
  font-size: 14px;
  color: var(--gray-900, #1e1e1e);
}

.nav__dropdown__link .nav__dropdown__role {
  font-weight: 400;
  font-size: 12px;
  color: var(--gray-400, #8692a6);
}

.nav__dropdown__profile {
  padding: 12px;
}

.nav__dropdown__settings {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 12px;
}

.nav__dropdown__log__out {
  padding: 12px 12px 20px;
}

.nav__dropdown__log__out .nav__dropdown__link {
  cursor: pointer;
  color: var(--error-300, #f56342);
}

.nav__dark__mode,
.nav__switch__language {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__dark__mode div,
.nav__switch__language div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dark__mode__switch {
  width: 30px;
  height: 18px;
  background-color: var(--gray-300, #c3c5c8);
  border-radius: 15px;
  padding: 4px;
  cursor: pointer;
}

.dark__mode__switch:hover {
  background-color: var(--gray-400, #8692a6);
}

.dark__mode__switch:has(.dark__mode__on) {
  background-color: var(--primary-900, #1dbf73);
}

.dark__mode__switch .dark__mode__circle {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

.dark__mode__on {
  background-color: var(--primary-900, #1dbf73);
  transform: translateX(12px);
}

.nav__switch__language .nav__language {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.nav__switch__language .nav__language .arabic__language {
  font-family: Cairo, sans-serif;
  color: #000;
  font-size: 14px;
}

.nav__switch__language .nav__language:hover .arabic__language {
  color: var(--primary-900, #1dbf73);
}

.nav__switch__language .nav__language .line {
  height: 19px;
  border-left: 1px solid var(--gray-200);
}

main {
  display: flex;
  gap: 48px;
  justify-content: space-between;
  padding: 0 105px;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: calc(100vw - 210px - 296px - 48px);
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.slider__breadcrumb {
  color: var(--gray-400, #8692a6);
  font-size: 18px;
  font-weight: 500;
}

.slider__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__rating__numbers {
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider__rating__numbers svg {
  width: 24px;
  height: 23px;
}

.slider__rating__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.slider__rating__actions button:first-of-type:hover svg path {
  fill: var(--primary-900, #1dbf73);
}

.slider__carousel {
  height: 431px;
  padding: 0 23px;
  position: relative;
}

.slider__images {
  display: flex;
  gap: 16px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.slider__images img {
  border-radius: 8px;
  width: 100%;
  object-fit: cover;
}

.slider__carousel button {
  position: absolute;
  top: 50%;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0px 3px 3px 1px #2020200d;
}

.slider__carousel button:hover {
  background-color: var(--gray-100, #f2f2f2);
}

.slider__previous__btn {
  transform: translate(-50%, -50%);
}

.slider__previous__btn.disabled,
.slider__next__btn.disabled {
  background-color: rgba(255, 255, 255, 0.4);
  pointer-events: none;
}

.slider__previous__btn.disabled svg path,
.slider__next__btn.disabled svg path {
  fill: var(--gray-100, #f2f2f2);
}

.slider__next__btn {
  right: 0;
  transform: translateY(-50%);
}

.slider__dots {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px;
}

.slider__dot {
  width: 10px;
  height: 10px;
  background-color: var(--gray-100, #f2f2f2);
  border-radius: 50%;
  cursor: pointer;
}

.slider__dot:hover {
  background-color: var(--primary-100, #e9f9f1);
}

.slider__dot.active {
  background-color: var(--primary-900, #1dbf73);
}

.description,
.purchase,
.add__ons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.description .section__content p {
  color: var(--gray-800, #333333);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.add__ons__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add__ons__info button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: var(--gray-300, #c3c5c8);
  font-size: 18px;
  font-weight: 500;
}

.add__ons__info button:hover {
  color: var(--primary-900, #1dbf73);
}

.add__ons__info button:hover svg path {
  fill: var(--primary-900, #1dbf73);
}

.add__on__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add__on {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 30px 20px 24px;
  background-color: #fff;
  border-radius: 15px;
}

.add__on__content {
  display: flex;
  gap: 16px;
}

.add__on__content button {
  height: 30px;
}

.add__on__details {
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: default;
}

.add__on__detail {
  background-color: var(--primary-100, #e9f9f1);
  color: var(--primary-900, #1dbf73);
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  padding: 10px 5px;
}

.purchase__quantity {
  display: flex;
  gap: 8px;
  align-items: center;
}

.purchase__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchase__actions {
  background-color: var(--primary-50, #f2f9f3);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 10px;
  min-width: 414px;
}

.purchase__quantity__btn {
  border-radius: 50%;
  background-color: #fff;
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0px 2px 3px 0px #bab5b533;
}

.purchase__quantity__btn:hover {
  background-color: var(--gray-100, #f2f2f2);
}

.purchase__quantity__number {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.purchase__price {
  background-color: var(--primary-50, #f2f9f3);
  border-radius: 8px;
  min-width: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 48px;
}

.purchase__btn {
  max-width: 185px;
  width: 100%;
}

.service__rating {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.service__rating__reviews {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.service__rating__review {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__rating__title {
  display: flex;
  gap: 10px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.service__rating__total {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.service__rating__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.service__rating__data {
  display: flex;
  align-items: center;
  gap: 32px;
}

.service__rating__total {
  display: flex;
  align-items: center;
  gap: 8px;
}

.service__rating__stars {
  display: flex;
  align-items: center;
  gap: 4px;
}

.service__rating__progress {
  display: flex;
  align-items: center;
  gap: 24px;
}

.service__rating__progress__bar {
  width: 311px;
  height: 8px;
  background-color: var(--gray-200, #e6eaef);
  border-radius: 6px;
  position: relative;
}

.service__rating__progress__bar::after {
  content: "";
  position: absolute;
  transition: all 1s;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: var(--warning-300, #ffcb31);
  border-radius: 6px 0 0 6px;
}

.reviewers__section {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.reviewers__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewer__card {
  display: flex;
  gap: 10px;
}

.reviewer__pic {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewer__data {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.reviewer__rating {
  display: flex;
  align-items: center;
  gap: 6px;
}

.reviewer__rating__count {
  display: flex;
  align-items: center;
  gap: 4px;
}

.reviewer__rating__time {
  color: var(--gray-400, #8692a6);
  font-size: 12px;
  font-weight: 400;
}

.reviewer__content {
  margin-top: 10px;
  color: var(--gray-800, #333333);
  font-weight: 400;
  font-size: 14px;
}

.reviewers__comment__section {
  display: flex;
  gap: 24px;
}

.reviewers__comment__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.reviewers__comment__input {
  width: 100%;
  height: 168px;
  background-color: var(--gray-50, #f6f6f6);
  border-radius: 8px;
  padding: 24px 16px;
  border: none;
  resize: none;
  font-size: 16px;
  font-weight: 400;
}

.reviewers__comment__input:focus {
  outline: none;
}

.reviewers__comment__input:focus::placeholder {
  color: transparent;
}

.reviewers__comment__input::placeholder {
  color: var(--gray-400, #8692a6);
}

.reviewers__comment__form button {
  width: 185px;
}

aside {
  max-width: 296px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.card__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.user__card__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.5px;
}

.user__card__pic {
  width: 46px;
  height: 45px;
  border-radius: 50%;
}

.user__card__name,
.user__card__location {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user__card__rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user__card__rating svg {
  width: 16px;
  height: 15px;
}

.user__card__actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.user__card__btn {
  width: 100%;
  margin: 32px 0 12px;
}

.user__card__actions button {
  width: 45px;
  height: 45px;
  background-color: var(--gray-50, #f6f6f6);
  border-radius: 8px;
  display: grid;
  place-items: center;
}

.user__card__actions button:hover {
  background-color: var(--gray-200, #e6eaef);
}

.card__description {
  color: var(--gray-800, #333333);
  font-size: 14px;
  font-weight: 500;
}

.info__card__list {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  cursor: default;
}

.info__card__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info__card__text span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info__card__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.share__card__actions {
  display: flex;
  gap: 11.34px;
}

.share__card__actions button {
  display: grid;
  place-items: center;
  border-radius: 8px;
  width: 42.53px;
  height: 42.53px;
}

.linkedin__btn {
  background-color: #2867b2;
}
.linkedin__btn:hover {
  background-color: #1e4f8f;
}
.facebook__btn {
  background-color: #1877f2;
}
.facebook__btn:hover {
  background-color: #1366d6;
}
.whatsapp__btn {
  background-color: #25d366;
}
.whatsapp__btn:hover {
  background-color: #17bc4c;
}
.twitter__btn {
  background-color: #1da1f2;
}
.twitter__btn:hover {
  background-color: #0d8ecf;
}
.copy__btn {
  background-color: var(--gray-100, #f2f2f2);
}
.copy__btn:hover {
  background-color: var(--gray-200, #e6eaef);
}

.services {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.services__info {
  display: flex;
  justify-content: space-between;
}

.services__title {
  color: var(--gray-900, #1e1e1e);
  font-size: 16px;
  font-weight: 600;
}

.see__more {
  color: var(--gray-300, #c3c5c8);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.see__more:hover {
  color: var(--primary-900, #1dbf73);
}

.services__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.services__card {
  display: flex;
  width: 100%;
  height: 108px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 3px 40px -5px #20202012;
}

.services__card__img {
  width: 108px;
  height: 100%;
  border-radius: 8px 0 0 8px;
  object-fit: cover;
}

.services__card__details {
  padding: 14px 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services__card__title {
  color: var(--gray-900, #1e1e1e);
  font-size: 12px;
  font-weight: 600;
}

.services__card__actions {
  display: flex;
  justify-content: space-between;
}

.services__card__rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.services__card__rating div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.services__card button {
  display: flex;
  align-items: center;
}

.service__price {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}

.section__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggested__services {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 0 105px 105px;
}

.suggested__services__list {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
}

.suggested__service__card {
  height: 415px;
  width: 289px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 3px 40px -5px #20202012;
  position: relative;
  flex-shrink: 0;
}

.suggested__service__like__btn {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fff;
  top: 18px;
  left: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggested__service__like__btn:hover {
  background-color: var(--gray-100, #f2f2f2);
}

.suggested__service__pic {
  width: 100%;
  height: 254px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.suggested__service__data {
  padding: 16px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.suggested__service__title {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.suggested__service__info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.suggested__service__info div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--gray-400, #8692a6);
  font-size: 14px;
  font-weight: 500;
}

.suggested__service__details {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.suggested__service__seller__pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.suggested__service__seller {
  display: flex;
  align-items: center;
  gap: 10px;
}

.suggested__service__seller__name {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}

.suggested__service__price {
  display: flex;
  align-items: center;
  gap: 6px;
}

.suggested__service__price span {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 1200px) and (min-width: 768px) {
  .nav__list {
    display: none;
  }

  main {
    flex-direction: column;
    padding: 0 64px;
  }

  .sections {
    order: 2;
    width: 100%;
  }

  aside {
    order: 1;
    max-width: 100%;
  }

  .share__card__actions {
    justify-content: center;
  }

  .services__card__details {
    width: 100%;
  }

  .purchase__price {
    min-width: 90px;
  }

  .purchase__actions {
    min-width: 300px;
  }

  .service__rating__progress__bar {
    width: 160px;
  }
}

@media (max-width: 768px) {
  .nav__container {
    padding: 24px;
  }

  .nav__list {
    display: none;
  }

  main {
    flex-direction: column;
    padding: 0 32px;
  }

  aside {
    order: 1;
    max-width: 100%;
  }

  .sections {
    order: 2;
    width: 100%;
  }

  .share__card__actions {
    justify-content: center;
  }

  .services__card__details {
    width: 100%;
  }

  .purchase__content {
    flex-direction: column;
    gap: 16px;
  }

  .purchase__btn {
    max-width: 100%;
  }

  .purchase__price {
    min-width: 90px;
  }

  .purchase__actions {
    min-width: 150px;
    gap: 32px;
  }

  .service__rating__review {
    flex-direction: column;
    gap: 16px;
  }

  .service__rating__progress__bar {
    width: 100px;
  }

  .suggested__services {
    padding: 0 32px 32px;
  }
}
